[mysqld]
basedir         = "C:/Program Files/MySQL/MySQL Server 8.0"
datadir         = "C:/Users/Anton/Searches/Desktop/UIR_2/mysqld"
port            = 3305
pid-file        = "C:/Users/Anton/Searches/Desktop/UIR_2/mysqld.pid"
socket          = "C:/Users/Anton/Searches/Desktop/UIR_2/mysqld.sock"
mysqlx          = 0
default_authentication_plugin = mysql_native_password