[mysqld]
basedir         = "C:/Program Files/MySQL/MySQL Server 8.0"
datadir         = "C:/Users/Anton/Searches/Desktop/UIR_2/independent_servers/mysqld3"
port            = 3303
pid-file        = "C:/Users/Anton/Searches/Desktop/UIR_2/independent_servers/mysqld3.pid"
socket          = "C:/Users/Anton/Searches/Desktop/UIR_2/independent_servers/mysqld3.sock"
mysqlx          = 0
default_authentication_plugin = mysql_native_password