[mysqld]
datadir         = "./mysqld1"
port            = 3310
pid-file        = "./mysqld1.pid"
socket          = "./mysqld1.sock"
mysqlx          = 0
server-id       = 2
gtid_mode       = ON
enforce_gtid_consistency = ON
default_authentication_plugin = mysql_native_password